footer {
  background-color: #ffffff;
}

.logo-black {
  height: 4rem;
  margin-top: -1.5rem;
  width: 100px;
  background-image: url("../img/logo-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 20px; /* slight optical adjustment */
}

a.logo-black:hover {
  border: 0;
}

#catalog {
  background: #c7d9c7;
}

#catalog:hover::after {
  content: 'PDF';
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

footer h5 {
  text-transform: uppercase;
  font-size: .75rem;
  margin-bottom: .75rem;
  color: rgba(102, 153, 102, .8);
}

footer a {
  text-decoration: none;
  color: #282828;
  font-size: .8rem;
  margin-bottom: .35rem;
}

footer a:hover {
  padding-bottom: .025rem;
  border-bottom: 1px solid #282828;
}

footer input {
  background: #f0f7f4;
  font-size: .8rem;
}

footer button {
  background: #669966;
  font-size: .8rem;
}

footer button:hover {
  background: rgba(102, 153, 102, .8);
}

#social li:not(:last-child) {
  margin-right: 1rem;
}

#social a {
  opacity: .9;
  transition: opacity .4s ease;
}

#social a:hover {
  border-bottom: 0;
  opacity: 1;
}

#the-cellar {
  background: #c7d9c7;
  font-size: .8rem;
}