.location__info {
  background: #669966;
  color: #f0f7f4;
}

#location a.findloc {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  color: white;

  border: 0;
  padding: 0;
  margin: 0;

  opacity: 0;
  transform: translateY(2rem);
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
  will-change:
    opacity,
    transform;
}

#location:hover a.findloc {
  opacity: 1;
  transform: translateY(0);
}

#location a.findloc:after {
  content: "➤";
  margin-left: 5px;
}

#map a, #map a:hover {
  padding: 0;
  border: 0;
}