.meta-nav {
  background: #c7d9c7;
}

.meta-nav li:not(:last-child) {
  padding-right: 1rem;
}

.meta-nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: .6rem;
  color: #282828;
}

.meta-nav a:hover {
  color: #f0f7f4;
}