body {
  background: #f0f7f4;
  /* font-family: acumin-pro, sans-serif; */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #282828;
  font-weight: 300;
  font-style: normal;
}

h5 {
  font-size: .75rem;
  text-transform: uppercase;
}

p, span, a {
  font-size: .8rem;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #282828;
  font-size: .8rem;
  margin-bottom: .35rem;
}

a:hover {
  padding-bottom: .025rem;
  border-bottom: 1px solid #669966;
}.sale-banner {
  background: #ffee93;
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
}

.banner-hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.sale-banner a {
  color: #669966;
}.meta-nav {
  background: #c7d9c7;
}

.meta-nav li:not(:last-child) {
  padding-right: 1rem;
}

.meta-nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: .6rem;
  color: #282828;
}

.meta-nav a:hover {
  color: #f0f7f4;
  border: none;
}.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(102, 153, 102, .95);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#btn-search-close {
  font-size: 2em;
  position: absolute;
  top: 1.25em;
  right: 1.25em;
}

.search h4 {
  font-size: 4rem;
  text-align: left;
}

.search__input {
  font-family: inherit;
  font-size: 8vw;
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.05em 0;
  color: #f0f7f4;
  border: 0;
  background: transparent;
  border-radius: 0;
  border-bottom: .25rem solid;
}

.search__input::placeholder { color: #4a664a; opacity: 1;}

.search__info {
  font-size: 90%;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  padding: 0.85em 0;
  text-align: right;
  color: #f0f7f4;
  margin-bottom: 2rem;
}

.search__related {
  display: flex;
}

.search__suggestion {
  width: 33.33%;
  text-align: left;
}

.search__suggestion h3 {
  text-transform: uppercase;
  font-size: .75rem;
  margin-bottom: .75rem;
  color: rgba(40, 40, 40, 1);
}

.search__suggestion ul {
  list-style: none;
}

.search__suggestion:nth-child(2) {
  margin: 0 3em;
}


/* bg images */
.search__suggestion > div > * {
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  transition: filter .5s ease,
              opacity .5s ease;
  opacity: .5;
}
.search__suggestion > div > *:hover { filter: grayscale(0); opacity: 1; cursor: pointer; }

.search__suggestion:nth-child(1) div div:nth-child(1) { background-image: url("indoor01.2d1b24ab.jpg"); }
.search__suggestion:nth-child(1) div div:nth-child(2) { background-image: url("indoor02.d0da9da0.jpg"); background-position: bottom; }
.search__suggestion:nth-child(1) div div:nth-child(3) { background-image: url("outdoor03.1ae5c7de.jpg"); background-position: bottom; }

.search__suggestion:nth-child(2) div div:nth-child(1) { background-image: url("outdoor02.1401d040.jpg"); }
.search__suggestion:nth-child(2) div div:nth-child(2) { background-image: url("chair01.b9423dac.jpg"); }
.search__suggestion:nth-child(2) div div:nth-child(3) { background-image: url("living.d7bbd350.jpg"); }

.search__suggestion:nth-child(3) div div:nth-child(1) { background-image: url("collection01.15c0e317.jpg"); }
.search__suggestion:nth-child(3) div div:nth-child(2) { background-image: url("collection02.b246e0c5.jpg"); }
.search__suggestion:nth-child(3) div div:nth-child(3) { background-image: url("collection03.94cda234.jpg"); }


/* transitions! */
.search {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.search--open {
  pointer-events: auto;
  opacity: 1;
}

.search__form {
  opacity: 0;
  transform: scale3d(0.8, 0.8, 1);
  transition: opacity 0.5s, transform 0.5s;
}

.search--open .search__form {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.search__suggestion {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  transition: opacity 0.5s, transform 0.5s;
}

.search--open .search__suggestion {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.search--open .search__suggestion:nth-child(2) {
  transition-delay: 0.1s;
}

.search--open .search__suggestion:nth-child(3) {
  transition-delay: 0.2s;
}.dropdowns {
  position: relative;
  height: 0;
}
.dropdown {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.dropdown--active {
  display: block;
}

.subcategory:not(:last-child) {
  margin-right: 3rem;
}

.dropdown h4 {
  font-size: 1.525rem;
}

.dropdown h5 {
  text-transform: uppercase;
  font-size: .75rem;
  margin-bottom: .75rem;
  color: rgba(102, 153, 102, .8);
}header {
  /* bring shadow back! */
  position: relative;
}

nav {
  background: #669966;
  overflow: hidden;
}

.logo {
  height: 100%;
  width: 100px;
  background-image: url("logo.f1d8a4c6.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 20px; /* slight optical adjustment */
  cursor: pointer;
}

nav ul li {
  height: 100%;
  line-height: 4rem;
}

nav ul li:not(:last-child) {
  margin-right: 1rem;
}

nav ul a {
  position: relative; /* for pseudo element */
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: .75rem;
  color: #f0f7f4;
  height: 100%;
  display: inline-block;
}

/* tab effect that was too much work to work with jquery :/ */

/* nav ul a::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: .25rem;
  width: 100%;
  transform: scaleX(0);
  background: #ffee93;
  transition: transform 0.2s ease;
} */

/* nav ul a:hover::after {
  transform: scaleX(1);
  transition: transform 0.3s ease;
} */

.menu-item--not-active {
  color: rgba(240, 247, 244, .5);
}

nav ul button {
  color: #f0f7f4;
  display: block;
  margin-top: 24px;
}

nav ul a,
nav ul button {
  transition: color .2s ease;
}

/* gross centering fix */
.meta-nav li,
nav li {
  display: block;
  height: 100%;
}

.meta-nav li { line-height: 32px; }
nav li a { line-height: 64px; }
nav li a:hover { border: none; }

.meta-nav li::before,
nav li:not(:last-child)::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.meta-nav li a,
nav li a {
  display: inline-block;
  vertical-align: middle;
}.hero {
  background: url("hero05.ad2cadd1.jpg");
  background-size: cover;
  background-position: bottom;

  height: 40rem;
}

.hero p {
  max-width: 30rem;
  font-size: 1rem;
}.featured-items {
  background: white;
}

.card > div, .card__img {
  background-color: rgba(102, 153, 102, .2);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.card {
  padding: 1rem;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.card #featured--outdoor,
.card #featured--outdoor a {
  color: #282828;
  text-shadow: none;
}

.card #featured--outdoor span {
  background-color: #282828;
  box-shadow: none;
}

.card span {
  display: inline-block;
  position: relative;
  top: -.25rem;
  height: 1px;
  width: 3rem;
  margin: 0 9px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.card__text {
  transform: translateY(2rem);
  transition: transform 0.2s ease-out;
  will-change: transform;
}

.card__text a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  color: white;

  opacity: 0;
  transition: opacity 0.2s ease-out;
  will-change: opacity;
}

.card__text a:after {
  content: "➤";
  margin-left: 5px;
}

.card:hover .card__text { transform: translateY(0); }
.card:hover .card__text a { opacity: 1; border: 0; }

#featured--tables { background-image: url("dining01.b8b06389.jpg"); }
#featured--outdoor { background-color: #ffee93; }
#featured--outdoor .card__img { background-image: url("outdoor01.117779e4.jpg"); }
#featured--chairs { background-color: #b3bfb8; }
#featured--chairs .card__img {
  background-image: url("chair02.002c0142.jpg");
  background-position: bottom;
  background-blend-mode: normal;
}.socialshares h3 {
  text-align: center;
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  opacity: .8;
}

.socialshares {
  position: relative;
}

.socialshares button {
  position: absolute;
  height: 100%;
  top: 0;
  padding: 1rem;
  font-size: 2rem;
  color: #f0f7f4;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.prev { left: 0; }
.next { right: 0; }

.siema div {
  max-height: 16rem;
}.location__info {
  background: #669966;
  color: #f0f7f4;
}

#location a.findloc {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  color: white;

  border: 0;
  padding: 0;
  margin: 0;

  opacity: 0;
  transform: translateY(2rem);
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
  will-change:
    opacity,
    transform;
}

#location:hover a.findloc {
  opacity: 1;
  transform: translateY(0);
}

#location a.findloc:after {
  content: "➤";
  margin-left: 5px;
}

#map a, #map a:hover {
  padding: 0;
  border: 0;
}footer {
  background-color: #ffffff;
}

footer p {
  font-size: .8rem;
  margin: 1rem 0;
}

#catalog {
  background: #c7d9c7;
}

#catalog:hover::after {
  content: 'PDF';
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

footer h5 {
  text-transform: uppercase;
  font-size: .75rem;
  margin-bottom: .75rem;
  color: rgba(102, 153, 102, .8);
}


footer input {
  background: #f0f7f4;
  font-size: .8rem;
}

footer button {
  background: #669966;
  font-size: .8rem;
}

footer button:hover {
  background: rgba(102, 153, 102, .8);
}

#social li:not(:last-child) {
  margin-right: 1rem;
}

#social a {
  opacity: .9;
  transition: opacity .4s ease;
}

#social a:hover {
  border-bottom: 0;
  opacity: 1;
}

#the-cellar {
  background: #c7d9c7;
  font-size: .8rem;
}

.logo-black {
  height: 4rem;
  margin-top: -2rem;
  width: 100px;
  background-image: url("logo-black.cd854ca5.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 20px; /* slight optical adjustment */
}

#the-cellar a:hover {
  border: 0;
}.mask {
  mask-image:
    linear-gradient(to bottom, transparent 5%, black 45%),
    linear-gradient(to top, transparent 5%, black 45%);
  mask-composite: intersect;
  }

#sep01 {
  display: none;
  position: relative;
}

#sep01 div {
  position: absolute;
  left: 0;
  top:0;
  transform: scale(4);

  background-image: url("chair.265bd294.png");

  background-size: cover;
  background-position: center;

  height: 30rem;
  width: 30rem;
  z-index: -100;
}

#sep1 {
  background-image: url("sep01.48002d69.png");

  background-size: cover;
  background-position: center;

  height: 30rem;
}/* settings */

/* objects */

/* elements */